<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Simple Python API to retrieve Fibonacci number's value</title>
	</head>
	
	<body>
	  <div style="text-align:left">
		  <p><b>Make GET with curl to get 228-th element's value:</b></br>
		  <code>curl -w "\n" 'http://{{ ansible_nodename }}:6765/api/228'</code></br>
	    </p>
	    <p><b>Use browser to do the same:</b></br>
	    <code>http://{{ ansible_nodename }}:6765/api/228</br></code>
	    </p>
	  </div>
	</body>
</html>
